* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    color: #665a66;
    background-color: #fff;
}



/*---SECTION HEADER---*/
header {
    width: 100%;
    height: 8vh;
    background-color: #ffe0ff;
    position: fixed;
}
.header__container {
    width: 100%;
    height: 100%;
}
.nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.nav a {
    text-decoration: none;
    color: #665a66;
}
.logo {
    width: 30%;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 10px;
}
.logo:hover {
    color: #665a66;
}
.bar-nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 16px;
    font-weight: 600;
}
.bar-nav a {
    text-decoration: none;
    color: #665a66;
}
/*---QUERIES HEADER*/
/* CELULAR MUY PEQUEÑO*/
@media (max-width: 380px) {
    .logo  {
        display: none;
    }
    .bar-nav {
        width: 100%;
    }
}
/*--QUERIES PC*/
@media (min-width: 1000px) {
    .bar-nav {
        justify-content: right;
    }
    .bar-nav a:last-child {
        margin: 0 10%;
    }
}
/*---END HEADER*/


/*---SECTION PRESENTATION---*/
.card {
    width: 100%;
    padding-top: 10vh;
}
.container__card {
    width: 90%;
    max-width: 500px;
    margin: auto;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffe0ff99;
}
.container__card p {
    font-size: 18px;
}
.container__card strong {
    font-size: 18px;
    font-style: italic;
}
.container__card em {
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
}
.presentation__container {
    width: 100%;
    height: 600px;
    margin-top: 10px;

    display: flex;
    flex-direction: row;
}
.presentation__img-1 {
    width: 50%;
    height: 100%;
    background-image: linear-gradient(#0001,#0001),url(img/index/img__01.png);
    background-size: cover;
    background-position: center;
    
    border-radius: 10px 0 0 10px;
}
.presentation__img-2 {
    width: 50%;
    height: 100%;
    background-image: linear-gradient(#0001,#0001),url(img/index/img__02.png);
    background-size: cover;
    background-position: center;

    border-radius: 0 10px 10px 0;
}
/*---END PRESENTATIOM*/


/*---CONTACT*/
.contact {
    position: fixed;
    bottom: 5%;
    right: 5%;
}
.contact__icon img {
    width: 64px;
}
/*--QUERIES PC*/
/*END CONTACT*/



/*---SECTION MAIN---*/
.main {
    width: 70%;
    margin: auto;
    margin-top: 50px;
}
.product-1 {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin: ;
    font-size: 1.5em;
    font-weight: 400;
    border-bottom: 1px solid ;
}
.product-2 {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin: 2em 0;
    font-size: 1.5em;
    font-weight: 400;
    border-bottom: 1px solid ;

}
.products-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 5em;
}
/*--ARTICLE*/
.product-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.product-card {
    width: 250px;
    margin-top: 1em;
    /* height: 100%; */
    padding: 10px;
    border-radius: 10px;
    background-color: #ffe0ff99;
}
.product-card-img {
    width: 100%;
    background-size: cover;
    border-radius: 10px;
}
.product-info {
    width: 100%;
    margin-top: 1em;
    padding-left: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: transparent;
    border: 1px solid #665a66;
    box-shadow: 0 0 5px 0 #ffe0ff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.product-title {
    font-size: 1.4em;
}
.product-price {
    font-size: 1em;
    font-weight: 500;
}
.product-discount {
    padding-right: 1em;
    color: #665a66;
    text-align: right;
    font-size: 1em;
    font-weight: 400;
    text-decoration: line-through;
}
/*---QUERIES TABLET*/
@media (min-width: 540px) {
    .product-1 {
        font-size: 2em;
        font-weight: 400;
    }
    .product-2 {
        font-size: 2em;
        font-weight: 400;
    }
    .main-img {
        background-position-y: 14%;
    }
}
/*---QUERIES PC---*/
@media (min-width: 1000px) {
    .product-1 {
        font-size: 2em;
        font-weight: 400;
    }
    .product-2 {
        font-size: 2em;
        font-weight: 400;
    }
    .main-img {
        height: 14vh;
        background-position-y: 15%;
        /*cd*/
        display: none;
    }
    .main-img-2 {
        display: block;
        width: 100%;
        height: 10vh;
        margin: 5em 0;
        background: url(img/icon/logo-small.png);
        background-attachment: fixed;
    }
}
/*---END MAIN---*/



/*---SECTION ASIDE---*/
aside {
    width: 70%;
    margin: auto;
    margin-top: 50px;
}
/*--TEXT--*/
.testimonials__container {
    width: 100%;
}
.testimonial__text {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid ;
    margin: 20px 0;
}
.testimonial__text h3{
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 400;
}
/*--CARDS--*/
.tesminonial-cards {
    width: 100%;
}
.tesminonial-cards__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    align-items: flex-start;
    gap: 5em;
}
.testimonial__container {
    display: flex;
    justify-content: center;
}
.testimonial__container-card {
    width: 100%;
    max-width: 250px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffe0ff99;
}
.testimonial__container-card img {
    width: 100%;
    background-size: cover;
    border-radius: 10px;
}


/*---SECTION FOOTER*/
.footer {
    width: 100%;
    margin-top: 50px;
    height: ;
    background-color: #ffe0ff;
}
.footer__container {
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}
.footer__container p {
    font-size: 18px;
}